[submodule "Game-Engine/vendor/spdlog"]
	path = Game-Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Game-Engine/vendor/glfw"]
	path = Game-Engine/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Game-Engine/vendor/imgui"]
	path = Game-Engine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Game-Engine/vendor/glm"]
	path = Game-Engine/vendor/glm
	url = https://github.com/g-truc/glm.git
